/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */

body {
	 /* max-width: 275px;
	 margin: auto; */

	 	margin: 2em auto;
	 	max-width: 275px;
		max-height: 500px;
	 	text-align: center;
		letter-spacing: .05em;
}

/* $167 still needed for this project */

.top {
	font-size: 12px;
	font-family: Avenir-Book;
	background-color: #424242;
	color: white;
	letter-spacing: .05em;
}
.moneyneeded {
	font-weight: bold;
}

.arrow_box {
	position: relative;
	background: #424242;
	border: 1px solid #424242;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 10px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-top-color: #424242;
	border-width: 7px;
	margin-left: 100px;
}


hr {
	color: #f00;
	background-color: #EF5F3C;;
	height: 12px;
	width: 200px;
	float: left;
	border: 1px solid #eaeaea;
}

.hrtwo {
	float: right;
	width: 75px;
	background-color: #eaeaea;
}
/* The main box with time left and donation form */

.box {
	padding: 20px 10px;
	border: 1px solid #eaeaea;
	box-shadow: 1px 1px #d8d8d8;
}

.boxparagraph {
	font-family: Avenir-Book;
	font-size: 11px;
	color: #777;
	margin: 10px 10px;
	text-align: left;
	max-width: 275px;
	line-height: 1.7em;
}

.threedays {
	font-weight: bold;
	color: #EF5F3C;
}

.give {
	font-size: 15px;
	color: white;
	font-family: Avenir-Book;
	background-color: #1CBC2C;
	width: 45%;
	padding: 12px;
	margin: 10px 5px;
	border-radius: 4px;
	float: right;
}

#money {
	font-family: Avenir-Book;
	padding: 12px;
	width: 45%;
	margin: 10px 10px 5px 0;
	float: left;
}

input::placeholder {
  color: #777;
	font-weight: bold;
	font-size: 15px;

}

.donate{

}

.why {
	font-size: 11px;
	text-align: left;
	font-style: italic;
	color: #20A1D4;
	margin top: 0;
	margin: 0 10px;
	clear: both;
}

.save {
	padding: 0px 10px;
	margin: 12px;
	color: #777;
	background-color: #eaeaea;
	font-weight: bold;
	height: 30px;
	font-size: 10px;
	font-family: Avenir-Book;
	width: 40%;
}

.friends {
	padding: 0px 10px;
	margin: 12px;
	color: #777;
	background-color: #eaeaea;
	font-weight: bold;
	height: 30px;
	font-size: 10px;
	font-family: Avenir-Book;
	width: 40%;
}
